@{
    ViewData["Title"] = "Page Not Found";
}

<div class="container">
    <div class="center my-5 py-5">
        <div class="row">
            <div class="col-md-12 text-left">
                <h1 class="text-danger" style="font-size:64px;">Oops!</h1>
                <h2 class="text-danger">We can't seem to find the page you are looking for.</h2>
                <h6>Error Code: 404</h6>
            </div>
        </div>
    </div>
</div>
