@import "tom";

tom-access {
    display:flex;
    flex:1
}

:host {
    display:flex;
    flex: 1;

    #lock {
        width: 100%;
        background-color: #fff;
        background-image: url(../../../assets/backgrounds/dotted-map.png); /* fallback */
    background-image: url(../../../assets/backgrounds/dotted-map.png), linear-gradient(rgba(1, 20, 31, 1), rgba(5, 82, 127, 1));
    background-size: contain;
    background-position: center center;
        // // background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
        // background-size: cover;

        #lock-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #lock-form {
                background-color: white;
                display: flex;
                flex-direction: column;
                width: 420px;
                max-width: 420px;
                padding: 32px 32px 32px 32px;
                border-radius: 1rem;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }


                .file-button { cursor: pointer;
                    font-size: 16px;
                    // height: 86px;
                    border-radius: .5rem;
                    background-color: white;
                    border: 0;
                    text-overflow:ellipsis;
                    margin-bottom: .2rem;
    
                    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    
                    -webkit-transition: all 0.25s ease-in-out;
                    -moz-transition: all 0.25s ease-in-out;
                    -ms-transition: all 0.25s ease-in-out;
                    -o-transition: all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out;  

                    &.selected {
                        color: rgb(199, 90, 0);
                        border-bottom: 4px solid rgb(199, 90, 0);    

                    }   
                }

                .lock-form-header {
                    display: flex;
                    flex: 1 0 auto;

                    
                .mat-list-item-content {
                    padding-right: 0 !important;
                }


                    .avatar-container {
                        position: relative;
                        margin-right: 16px;

                        .avatar {
                            margin: 0;
                        }

                        @include media-breakpoint('xs') {
                            margin-right: 0;
                        }

                        mat-icon {
                            position: absolute;
                            bottom: -2px;
                            right: -6px;
                        }
                    }

                    .title {
                        font-size: 20px;
                        margin-bottom: 8px;

                        @include media-breakpoint('xs') {
                            margin-top: 16px;
                            text-align: center;
                        }
                    }

                    .subtitle {

                        @include media-breakpoint('xs') {
                            text-align: center;
                        }
                    }
                }

                form {
                    width: 100%;
                    margin: 32px 0 0 0;

                    mat-form-field {
                        width: 100%;
                    }

                    .submit-button {
                        width: 220px;
                        margin: 16px auto;
                        display: block;

                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }
                }

                .message {
                    font-weight: 600;
                    text-align: center;
                }
            }
        }
    }
}