<div id="lock" fxLayout="column">

    <div id="lock-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="lock-form" style="height:128px;flex:0!important;padding-bottom:43px;" *ngIf="isLoading" fxLayout='row'
            fxLayoutAlign='center center'>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <div id="lock-form" *ngIf="!isLoading">

            <div class="lock-form-header" fxLayout="row" fxLayoutAlign="center center" *ngIf="showResponse">

                <div class="ml-3" style="color:red;">
                    <div class="title">{{ responseMessage }}</div>
                    <div class="subtitle" *ngFor="let error of errors">
                        {{ error }}
                        <hr>
                    </div>
                </div>

            </div>

            <div class="avatar-container mb-3" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row">
                <button mat-raised-button class="submit-button btn-outline-tx square" (click)="showMenu()" aria-label="UNLOCK">
                    Upload new contacts file
                </button>
                <!-- <img class="logo-icon" (click)="showMenu()" src="./../../../assets/logos/tournamentx.png"> -->
                <!-- (mousedown)="mousedown()" (mouseup)="mouseup()" (mouseleave)="mouseup()"-->
            </div>
            <hr>
            <div class="lock-form-header" fxLayout="column" fxLayoutAlign="space-evenly stretch">
                <h5>Select a contact txt file</h5>
                <!-- <mat-selection-list #shoes (selectionChange)="onSelection($event, shoes.selectedOptions)" >
                        <mat-list-option #shoe *ngFor="let file of fileNames" (click)="getValue($event)" [disabled]="shoes.selectedOptions.selected.length > 1 && !shoe.selected">
                            {{file}}
                        </mat-list-option>
                    </mat-selection-list> -->
                <mat-list>
                    <mat-list-item class="file-button" [ngClass]="{'selected' : selectedFile == fileName }" *ngFor="let fileName of fileNames"
                        (click)="selectedFile = fileName">
                        <h4 mat-line>{{fileName}}</h4>
                        <button mat-icon-button (click)="deleteFile(fileName)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>

            </div>

            <!-- <form name="lockForm" novalidate> -->
            <hr>

            <mat-form-field class="example-full-width">
                <textarea matInput [(ngModel)]="message" placeholder="Enter your text message.."></textarea>
            </mat-form-field>

            <button mat-raised-button class="submit-button btn-primary-tx square" (click)="attemptAccess(email,token)"
                aria-label="UNLOCK">
                Send
            </button>

            <!-- </form> -->

        </div>


    </div>

</div>