@import 'tom';

:host {
    // margin-left: 300px;
    z-index: 9999;
    .nav-link {
        padding: 0 12px !important;
    }

    .text-button {
        @include media-breakpoint('lt-sm') {
            // display: none;
        }
    }

    .icon-button {
        @include media-breakpoint('gt-xs') {
            // display: none;
        }
    }

    .btn-colored-tx {
        background-color: $tx-bluedark;
        color: white;
    
        &:hover {
            background-color: #0778ba;
            transform: translateY(-1px);
            box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
        }
      }
    
      .btn-outline-tx {
        background-color: white;
        color: $tx-bluedark;
    
        &:hover {
            color: #0778ba;
            transform: translateY(-1px);
            box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
        }
      }
}


.step-navigation {
    position: absolute;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    bottom: 12px;
    // max-width: 944px;
    padding: 0 24px;
    // width: 100%;
    // left: 50%;
    right: 0;
    // transform: translateX(-50%);



        @include media-breakpoint('lt-xs') {
            position: fixed !important;//my style
            right: 0 !important;//my style
            bottom: 0 !important;//my style
        }
    .previous {
        margin-right: auto;
    }

    .next,
    .done {
        margin-left: auto;
    }
}