{
    "container_commands" : {
        "01" : {
            "command" : "icacls \"C:/inetpub/AspNetCoreWebApps/app/wwwroot/Upload\" /grant DefaultAppPool:(OI)(CI)F"
        },
        "01-aclchange": {
            "command": "icacls \"C:/inetpub/AspNetCoreWebApps/app/wwwroot/Upload\" /grant DefaultAppPool:(OI)(CI)"
        }
    }
}