<div class="match-card" fxFlex="100">

    <div class="mb-32" *ngIf="!flipped" (click)="flipItem()">

        <div class="match-card-top" fxLayout="row">
            <div class="match-card-top-right">
                <div *ngIf="!match.isFinals" class="h3 secondary-text tournament-status">
                    #{{match.matchNumber}}: Round {{match.round}} <span *ngIf="match.isLosers">- Losers</span>
                </div>
                <div *ngIf="match.isFinals" class="h3 secondary-text tournament-status">
                    Finals
                </div>
            </div>
        </div>

        <div class="vs-row" fxLayout="row" fxLayoutAlign="center center">
            <div class="h6 secondary-text vs-text">VS</div>
        </div>

        <div fxLayout="row">

            <div fxFlex="50">
                <div class="match-button-container" fxLayout="column" fxLayoutAlign="center stretch">
                    <button class="match-button player-button">{{match.player1 && match.player1.name || 'Pending'}}</button>
                </div>
            </div>

            <div fxFlex="50">
                <div class="match-button-container" fxLayout="column" fxLayoutAlign="center stretch">
                    <button class="match-button player-button">{{match.player2 && match.player2.name || 'Pending'}}</button>
                </div>
            </div>

        </div>

    </div>

    <div fxLayout="column" *ngIf="flipped">
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

        <div fxFlex="50">
            <div class="match-button-container" fxLayout="column" fxLayoutAlign="center stretch">
                <button class="base-button reset-button" (click)="resetMatch(match.matchNumber)" [disabled]="loading">Reset Match</button>
            </div>
        </div>

        <div fxFlex="50">
            <div class="match-button-container" fxLayout="column" fxLayoutAlign="center stretch">
                <button class="base-button cancel-button" (click)="flipItem()" [disabled]="loading">Cancel</button>
            </div>
        </div>

    </div>

</div>